<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="nmhs_connection" connectionString= "server=127.0.0.1;port=3306;database=nmhs_desktop;username=delphinium_admin;password=dark.d@tura" providerName="MySql.Data.MySqlClient" />
   
    <!--
  <add name="nmhs_connection" connectionString= "server=192.168.0.100;port=3306;database=nmhs_desktop;username=delphinium_admin;password=dark.d@tura" providerName="MySql.Data.MySqlClient" />
  -->
  </connectionStrings>
<!--

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="6.9.8.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
</configuration>